{{#if books}}
<h1>Libros suscritos</h1>
<p class="saltos p-1"></p>
{{/if}}
<div class="row">
  {{#each books}}
  <div class="col-md-3 mb-4">
    <div class="card h-100">
      <img src="{{path}}" class="card-img-top p-2" alt="{{title}}" height="160px" style="object-fit: cover">
      <div class="card-body">
        <h5 class="card-title">{{title}}</h5>
        <p class="card-text">{{isbn}}</p>
        <p class="card-text">{{editorial}}</p>
        <p class="card-text">{{course}}</p>
        <p class="card-text">Penalización: {{penalizacion}}€</p>
      </div>
    </div>
  </div>
  {{else}}
  {{#if sub}}
  <div class="col-md-12 mb-4">
    <div class="card">
      <div class="card-body">
        <h2 class="card-title text-center">Esperando a que el administrador apruebe tu solicitud</h2>
        <p class="card-text">En estos momentos, el administrador del sistema está verificando tu solicitud de
          suscripción. Una vez que tu solicitud sea aceptada, podrás acceder a la página de los libros a los cuales
          estás suscrito . Por favor, ten en cuenta que el proceso de verificación puede tardar un tiempo, pero te
          aseguramos que haremos todo lo posible para que puedas acceder lo antes posible. ¡Gracias por tu paciencia!
        </p>
        <hr>
        <h4 class="card-title text-center mb-3">¿Tienes alguna pregunta?</h4>
        <form id="contact-form">
          <div class="mb-3">
            <label for="nombre" class="form-label">Nombre</label>
            <input type="text" class="form-control" id="nombre" name="nombre" required>
          </div>
          <div class="mb-3">
            <label for="asunto" class="form-label">Asunto</label>
            <input type="text" class="form-control" id="asunto" name="asunto" required>
          </div>
          <div class="mb-3">
            <label for="mensaje" class="form-label">Mensaje</label>
            <textarea class="form-control" id="mensaje" name="mensaje" rows="5" required></textarea>
          </div>
          <button type="submit" class="btn btn-primary">Enviar</button>
        </form>
      </div>
    </div>
  </div>

  {{else}}
  <h1 class="text-center my-5">Pagina de suscripción</h1>
  <div class="col-md-12 mb-4">
    <div class="card">
      <div class="card-body">
        <h2 class="card-title text-center">Aún no estás suscrito</h2>
        <p class="card-text">La suscripción a nuestro servicio de préstamo de libros es una gran oportunidad para
          acceder a una amplia variedad de libros sin tener que gastar grandes cantidades de dinero en la compra de cada
          uno. Cuando te suscribes, te comprometes a mantener los libros en buenas condiciones y devolverlos en la fecha
          acordada.

          Es importante tener en cuenta que, en caso de no respetar los libros o no cumplir con los términos de la
          suscripción, se aplicarán penalizaciones correspondientes a cada libro. Estas penalizaciones están diseñadas
          para asegurar que los libros estén disponibles y en buen estado para futuros suscriptores.

          Por lo tanto, te recomendamos tratar los libros con el cuidado y respeto que se merecen para que puedas
          disfrutar de una experiencia de lectura agradable y evitar penalizaciones. ¡Suscríbete hoy y disfruta de
          nuestra amplia selección de libros!</p>
        <form action="/books/subscribe" method="POST" class="d-flex justify-content-center">
          <button class="btn btn-primary" type="submit">Subscribete</button>
        </form>
      </div>
    </div>
  </div>
  {{/if}}
  {{/each}}
</div>

<script>
  document.getElementById('contact-form').addEventListener('submit', function(event) {
    event.preventDefault();

    const nombre = document.getElementById('nombre').value;
    const asunto = document.getElementById('asunto').value;
    const mensaje = document.getElementById('mensaje').value;

    const emailBody = `${nombre}\n ${mensaje}`;

    const mailtoLink = `mailto:contacto@gals.com?subject=${encodeURIComponent(asunto)}&body=${encodeURIComponent(emailBody)}`;

    window.location.href = mailtoLink;
  });
</script>