<html>
<style>
        body {
			background-color: #f5f5f5;
		}

		h1 {
			text-align: center;
			margin-top: 50px;
			font-size: 32px;
			font-weight: bold;
		}

		table {
			border-collapse: collapse;
			margin-top: 50px;
			margin-left: auto;
			margin-right: auto;
			width: 80%;
			background-color: white;
			box-shadow: 0px 0px 10px 0px rgba(0,0,0,0.2);
			border-radius: 10px;
			overflow: hidden;
		}
		th, td {
			padding: 10px;
			border-bottom: 1px solid #ddd;
			text-align: center;
			font-size: 18px;
            font-weight: white;
		}

		th {
			background-color: #f2f2f2;
			color: rgb(211, 208, 208);
			font-weight: bold;
		}

		tr:hover {
			background-color:#f5f5f5;
		}
</style>
<h1>Estadísticas Administrador</h1>
<nav class="dropdown">
  <button class="btn btn-secondary dropdown-toggle" type="button" data-bs-toggle="dropdown" aria-expanded="false">
    <i class="fas fa-cog"></i> Opciones de administrador
  </button>
  <ul class="dropdown-menu">
    <li><a class="dropdown-item" href="/books"><i class="fas fa-book"></i> Libros</a></li>
    <li><a class="dropdown-item" href="/users"><i class="fas fa-users"></i> Usuarios</a></li>    
    <li><a class="dropdown-item" href="/books/add"><i class="fas fa-plus"></i> Nuevo libro</a></li>
    <li><a class="dropdown-item" href="/estadisticas"><i class="fas fa-chart-bar"></i> Estadísticas</a></li>
    <li><a class="dropdown-item" href="/upload"><i class="fas fa-upload"></i> Actualización de curso</a></li>
    <li><a class="dropdown-item" href="/users/signup"><i class="fas fa-user-plus"></i> Crear cuenta</a></li>
  </ul>
</nav>
<p class="saltos p-1"></p>
<div class="btn-group" style="text-align: center" role="group" aria-label="Basic example">
    <a class="btn btn-secondary " href="/estadisticas" role="button">Estadisticas generales</a>
    <a class="btn btn-secondary disabled " href="/statistics" role="button" aria-disabled="true">Info Libros</a>
    <a class="btn btn-secondary " href="/statistics/stock" role="button">Stock Info</a>
    <a class="btn btn-secondary " href="/statistics/students" role="button">Info Estudiantes</a>
    <a class="btn btn-secondary " href="/statistics/studentspenalizados" role="button">Estudiantes Penalizados</a>
    <a class="btn btn-secondary " href="/statistics/userssearch" role="button">Busqueda Estudiantes</a>
</div>
<p class="saltos p-1"></p>
<script type="text/javascript" src="https://unpkg.com/xlsx@0.15.1/dist/xlsx.full.min.js"></script>
<div class="row">
    <table class="table" id="tbl_exporttable_to_xls">
        <thead class="table-dark">
            <th>Title</th>
            <th>Isbn</th>
            <th>Editorial</th>
            <th>Course</th>
            <th>Stock</th>
            <th>Demand</th>
            <th>Penalizacion</th>
        </thead>
        <tbody>


            {{#each books}}
            <tr>
                <td>{{title}}</td>
                <td>
                    <p>{{isbn}}</p>
                </td>
                <td>
                    <p>{{editorial}}</p>
                </td>
                <td>
                    <p>{{course}}</p>
                </td>
                <td>
                    <p>{{stock}}</p>
                </td>
                <td>
                    <p>{{demand}}</p>
                </td>
                <td>
                    <p>{{penalizacion}}€</p>
                </td>

            </tr>

            {{else}}
            <div class="card , mx-auto">
                <div class="card-body">
                    <h1>Hello</h1>
                    <p class="lead">There are not statistics to show, choose one.</p>
                    <a href="/books/add" class="btn btn-success btn-block"> Creat one!</a>
                </div>
            </div>
            {{/each}}
        </tbody>

    </table>

</div>

<button class="btn btn-success" onclick="ExportToExcel('xlsx')">Export table to excel</button>

<script>
    function ExportToExcel(type, fn, dl) {
        var elt = document.getElementById('tbl_exporttable_to_xls');
        var wb = XLSX.utils.table_to_book(elt, { sheet: "sheet1" });
        return dl ?
            XLSX.write(wb, { bookType: type, bookSST: true, type: 'base64' }) :
            XLSX.writeFile(wb, fn || ('AllBooks.' + (type || 'xlsx')));
    }


</script>

</html>