<style>
    h1 {
			text-align: center;
			margin-top: 50px;
			font-size: 32px;
			font-weight: bold;
		}
</style>
<h1>Administrador de los usuarios</h1>     
<nav class="dropdown">
  <button class="btn btn-secondary dropdown-toggle" type="button" data-bs-toggle="dropdown" aria-expanded="false">
    <i class="fas fa-cog"></i> Opciones de administrador
  </button>
  <ul class="dropdown-menu">
    <li><a class="dropdown-item" href="/books"><i class="fas fa-book"></i> Libros</a></li>
    <li><a class="dropdown-item" href="/users"><i class="fas fa-users"></i> Usuarios</a></li>    
    <li><a class="dropdown-item" href="/books/add"><i class="fas fa-plus"></i> Nuevo libro</a></li>
    <li><a class="dropdown-item" href="/estadisticas"><i class="fas fa-chart-bar"></i> Estadísticas</a></li>
    <li><a class="dropdown-item" href="/upload"><i class="fas fa-upload"></i> Actualización de curso</a></li>
    <li><a class="dropdown-item" href="/users/signup"><i class="fas fa-user-plus"></i> Crear cuenta</a></li>
  </ul>
</nav>
<p class="saltos p-1"></p>
<div class="btn-group" style="text-align: center" role="group" aria-label="Basic example">
    <a class="btn btn-secondary disabled" href="#" role="button" aria-disabled="true">Usuarios suscritos</a>
    <a class="btn btn-secondary" href="/petitions" role="button">Peticiones de suscripción</a>
    <a class="btn btn-secondary" href="/registerusers" role="button">Usuarios sin suscripción</a>
</div>
<p class="saltos p-1"></p>

<div class="btn-group mb-2" role="group" aria-label="Filtrar por curso">
    <button type="button" class="btn btn-secondary" onclick="filterUsers('all')">Todos</a>
    <button type="button" class="btn btn-secondary" onclick="filterUsers('1ESO')">1ESO</a>
    <button type="button" class="btn btn-secondary" onclick="filterUsers('2ESO')">2ESO</a>
    <button type="button" class="btn btn-secondary" onclick="filterUsers('3ESO')">3ESO</a>
    <button type="button" class="btn btn-secondary" onclick="filterUsers('4ESO')">4ESO</a>
</div>

<p class="saltos p-1"></p>
<p class="saltos p-1"></p>
<div class="row">
    {{#each users}}
        <div class="col-md-3 p-2 user {{course}}">
            <div class="card">
                <div class="card-body">
                    <h4 class="card-title d-flex justify-content-between align-items-center">
                        {{name}} <a href="/users/edit/{{_id}}"><i class="fas fa-edit"></i></a>
                    </h4>
                    <p>{{email}}</p>
                    <p>{{role}}</p>
                    <p>{{course}}</p>
                    <p>{{penalty}}</p>
                    
                    <form action="/users/delete/{{_id}}?_method=DELETE" method="post" onsubmit="return confirm('¿Está seguro de que desea eliminar este usuario?')">
                        <input type="hidden" name="_method" value="DELETE">
                        <button class="btn btn-danger btn-block btn-sm mb-2" type="submit">
                            Delete
                        </button>
                    </form>
                    <a href="/users/penalty/{{_id}}" class="btn btn-dark btn-sm mb-2" tabindex="-1" role="button" aria-disabled="true" onclick="return confirm('¿Estás seguro de que quieres aplicar una penalización a este usuario?')">Penalty</a>
                </div>
            </div>
        </div>
    {{else}}
        <div class="card mx-auto">
            <div class="card-body">
                <h1>Hola</h1>
                <p class="lead">No hay usuarios suscritos. Revisa las peticiones de suscripción.</p>
                <a href="/petitions" class="btn btn-success btn-block"> Revisar!</a>
            </div>
        </div>    
    {{/each}}
</div>

<script>
function filterUsers(course) {
    // Show all users if "Todos" is selected
    if (course === 'all') {
        const users = document.getElementsByClassName('user');
        for (let i = 0; i < users.length; i++) {
            users[i].style.display = 'block';
        }
    } else {
        // Hide all users
        const users = document.getElementsByClassName('user');
        for (let i = 0; i < users.length; i++) {
            users[i].style.display = 'none';
        }

        // Show users with the selected course
        const courseUsers = document.getElementsByClassName(course);
        for (let i = 0; i < courseUsers.length; i++) {
            courseUsers[i].style.display = 'block';
        }
    }
}
</script>
