<h1>Admin All Users</h1>     
<div class="dropdown">
  <button class="btn btn-secondary dropdown-toggle" type="button" data-bs-toggle="dropdown" aria-expanded="false">
    Admin options
  </button>
  <ul class="dropdown-menu">
    <li><a class="dropdown-item" href="/books">All Books</a></li>
    <li><a class="dropdown-item" href="/users">All Users</a></li>    
    <li><a class="dropdown-item" href="/books/add">New Book</a></li>
    <li><a class="dropdown-item" href="/statistics">Statistics</a></li>
    <li><a class="dropdown-item" href="/upload">Actualize Data Base</a></li>
    <li><a class="dropdown-item" href="/users/signup">SignUp</a></li>
  </ul>
</div>
<p class="saltos p-1"></p>
<div class="btn-group" style="text-align: center" role="group" aria-label="Basic example">
    <a class="btn btn-secondary disabled" href="#" role="button" aria-disabled="true">Subscribed Users</a>
    <a class="btn btn-secondary" href="/petitions" role="button">Subcribe petitions</a>
    <a class="btn btn-secondary" href="/registerusers" role="button">Users with no subcription</a>
</div>
<p class="saltos p-1"></p>
<div class="row">
    {{#each users}}
        <div class="col-md-3 p-2">
            <div class="card">
                <div class="card-body">
                    <h4 class="card-title d-flex justify-content-between align-items-center">
                        {{name}} <a href="/users/edit/{{_id}}"><i class="fas fa-edit"></i></a>
                    </h4>
                    <p>{{email}}</p>
                    <p>{{role}}</p>
                    <p>{{course}}</p>
                    <p>{{penalty}}</p>
                    
                    <form action="/users/delete/{{_id}}?_method=DELETE" method="post">
                        <input type="hidden" name="_method" value="DELETE">
                        <button class="btn btn-danger btn-block btn-sm" type="submit">
                            Delete
                        </button>
                    </form>
                    <a href="/users/penalty/{{_id}}" class="btn btn-dark btn-sm" tabindex="-1" role="button" aria-disabled="true">Penalty</a>
                    

                </div>
            </div>
        </div>
    {{else}}
        <div class="card , mx-auto">
            <div class="card-body">
                <h1>Hello</h1>
                <p class="lead">There are not users subcribed, check the subcribe petitions.</p>
                <a href="/notes/add" class="btn btn-success btn-block"> Creat one!</a>
            </div>
        </div>    
    {{/each}}
</div>