<div class="row">
    <h1>Books of {{user.name}} to be penalize</h1>
    {{#each books}}
        <div class="col-md-3 p-2">
            <div class="card">
                <img src="{{path}}" class="card-img-top p-2" height="160px" style="max-width:225px;max-height:160px">
                <div class="card-body">
                    <h4 class="card-title d-flex justify-content-between align-items-center">
                        {{title}} 
                    </h4>
                    <p>{{isbn}}</p>
                    <p>{{editorial}}</p>                    
                    <p>{{course}}</p>
                    <p>{{demand}}</p>
                    <p align="center">
                        
                        <form action="/users/penalty2/{{../user._id}}?_method=PUT" method="POST" style="display:inline">
                            <input type="hidden" name="_method" value="PUT">
                            <input type="hidden" name="idbook" value="{{_id}}">
                            <div class="btn-group" role="group" aria-label="Basic example">
                                <input class="btn btn-success btn-sm" type="submit" name="estado" value="NoRecived">
                                <input class="btn btn-secondary btn-sm" type="submit" name="estado" value="Disrepair">
                            </div>                        
                        </form>                        
                    </p>        
                </div>
            </div>
        </div> 
    {{/each}}
</div>